{{template "base" .}}

{{define "title"}}XVI wiek - ebook{{end}}

{{define "main"}} 

    <h1 id="tufte-css">Ebook</h1>

    <article>
        <section>                       
            <p><strong><a href="/static/pdf/xvi-wiek.pdf">xvi-wiek.pdf</a></strong> - zawartość serwisu jako ebook w postaci
            pliku pdf, wydarzenia uporządkowane wg dni (uwaga: wstępna wersja).             
            </p>
                        
        </section>
    </article>
{{end}}
